@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');  

*{
    font-family: 'Lato', sans-serif;
}

.app-container{
    width: 80%;
    max-width: 700px;
    min-width: 450px;
    margin: 20px auto;
}

.app-container__title{
    margin: 50px auto;
    width: 250px;
}

.btn{
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: rgb(9, 228, 195);
    margin: 25px auto;
    display: block;
    font-size: 1.2rem;
    color: white;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
}

.btn:hover{
    background-color: rgb(18, 197, 170);
    cursor: pointer;
}

.add-transaction-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    background-color: white;
}

.add-transaction-form >input{
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 1.1rem;
    background-color: rgb(240, 250, 243);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
}